@import url ('https://fonts.googleapis.com/css2? família = Corinthia &família = Aberto + Sans + Condensado: wght @ 300; 700 & display = swap');
*{
    margin: 0 auto;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

#menu-h{
    list-style: none;
    padding: 0%;
    background-color: rgba(37, 37, 39, 0.13);}

#menu-h li{ 
    display: inline;

}  

#menu-h li a {
    color: #fff;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    display: inline;

  