*{
    margin: 0 auto;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

#menu-h{
    list-style: none;
    padding: 0%;
    background-color: rgba(235, 231, 231, 0.13);
    
     }

#menu-h li{ 
    display: inline;
    border-style:ridge;
    

}  

#menu-h li a {
    color:#e7886b;
    padding: 130px;
    display: inline-block;
    text-decoration: none;
    display: inline;
    
}

